@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Webkit (Chrome and Safari) */
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Firefox */
/* Style the scrollbar track */
::-moz-scrollbar {
  width: 8px;
}

/* Style the scrollbar thumb */
::-moz-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
